venv-od
datasets
outimages
output
.vscode
1-TAO_TRAIN.zip
2-TAO_VAL.zip
3-TAO_TEST.zip
cookies.txt
downloadTAO.sh
files.txt
index.html
license.txt
pruebas.ipynbpy
visualize.ipynb
tao
cityscapes-to-coco-conversion
frames
*.out
*.zip
*.jpg
*.png
*.jpeg
*.pkl
*.pth
Argoverse-1.1
Argoverse-HD
cityscapes-to-coco-conversion
datasets
outimages
output
outTAO
pandoc-3.2
TFGoutTAO
tao
custom_eval.py
custom_train_net.py
def_custom_eval_on_paper.py
def_custom_eval.py
downloadTAO.sh
license.txt
*.ipynb
reference_custom_eval.py
